# Konfigurasi Port Server (opsional, default 5000)
PORT=5000

# Konfigurasi SMTP Gmail (opsional - untuk kirim notifikasi pesan ke email Anda)
# Catatan: Gunakan "App Password" dari akun Google Anda jika menggunakan otentikasi 2-faktor (2FA).
EMAIL_USER=msafalazhar@gmail.com
EMAIL_PASS=safal2003

# Email penerima notifikasi pesan kontak
RECEIVER_EMAIL=msafalazhar@gmail.com
